<% layout("/layouts/boilerplate") %>
<div class="b">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (const result of results) { %>
            <a href="/listings/<%= result._id %>" class="img-a">
        <div class="card card-list">
        <img src="<%= result.image.url%>" class="card-img-top" alt="img" style="height: 18rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
    <p class="card-text">
       <b> <%= result.title %> </b><br>
        &#8377; <%= result.price.toLocaleString('en-IN') %> / night
       <i class="tax-info">&nbsp; +18% GST</i>
    </p>
  </div>
</div>
</a>
    <% } %>
    </div>
    </div>